<HTML>
<HEAD>
   <BASE TARGET=main>
   <TITLE>Arctiidae Family Page</TITLE>
   <X-CLARIS-WINDOW TOP=48 BOTTOM=507 LEFT=328 RIGHT=986>
   <X-CLARIS-TAGVIEW MODE=minimal>
</HEAD>
<BODY BGCOLOR="#FFFFFF" LINK="#666666" VLINK="#CCCC99">
<H2><FONT FACE="Arial">Family: Arctiidae</FONT></H2>

<P><TABLE BORDER=0 CELLPADDING=0 WIDTH=922>
   <TR BGCOLOR="#CCCC99">
      <TD COLSPAN=2 WIDTH=772 HEIGHT=51 BGCOLOR="#CCCC99">
         <H5><FONT FACE="Arial"><B>Species Name (or common name if
         species has not yet been determined by
         taxonomist)</B></FONT></H5>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=623 HEIGHT=41>
         <P><A HREF="http://www.tulane.edu/~ggentry/LAleps05/species/Arctiidae/arc004/Pale%20lion.htm"><FONT FACE="Arial, Helvetica, sans-serif"><I>Halysidota
         harrisii</I></FONT></A></P>
      </TD>
      <TD WIDTH=149 HEIGHT=41>
         <P><IMG SRC="views/images/LA2103TPth.gif" WIDTH=202 HEIGHT=117 ALIGN=bottom></P>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=623 HEIGHT=41>
         <P><A HREF="http://www.tulane.edu/~ggentry/LAleps05/species/Arctiidae/Eacrea/Eacrea.htm"><FONT FACE="Arial, Helvetica, sans-serif"><I>Estigmene
         acrea</I></FONT></A></P>
      </TD>
      <TD WIDTH=149 HEIGHT=41>
         <P><IMG SRC="../species/Arctiidae/Eacrea/Eacrea.gif" WIDTH=210 HEIGHT=99 ALIGN=bottom></P>
      </TD>
   </TR>
</TABLE>
</P>
</BODY>
</HTML>