<HTML>
<HEAD>
   <BASE TARGET=main>
   <TITLE>Gelechiidae Family Page</TITLE>
   <X-CLARIS-WINDOW TOP=30 BOTTOM=532 LEFT=243 RIGHT=973>
   <X-CLARIS-REMOTESAVE SERVER="mesa7.mesa.colorado.edu" USER=ggentry DIR="/home2/faculty/g/ggentry/public_html/lsacat/families/" FILE="">
   <X-CLARIS-TAGVIEW MODE=minimal>
</HEAD>
<BODY BGCOLOR="#FFFFFF" LINK="#666666" VLINK="#CCCC99">
<H2><FONT FACE="Arial">Family: Gelechiidae</FONT></H2>

<P><TABLE BORDER=0 CELLPADDING=0 WIDTH=922>
   <TR BGCOLOR="#CCCC99">
      <TD COLSPAN=2 WIDTH=772 HEIGHT=51 BGCOLOR="#CCCC99">
         <H5><FONT FACE="Arial"><B>Species Name (or common name if
         species has not yet been determined by
         taxonomist)</B></FONT></H5>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=623 HEIGHT=41>
         <P><A HREF="http://www.tulane.edu/~ggentry/LAleps05/species/Gelechiidae/gelechiidaetype_3128/gelechiidaetype_sp3128.htm"><FONT FACE="Arial, Helvetica, sans-serif">Gelechiidae
         type, Yellow Spotted Intersegments Pickle</FONT></A></P>
      </TD>
      <TD WIDTH=149 HEIGHT=41>
         <P><IMG SRC="../species/Gelechiidae/gelechiidaetype_3128/la3128_1_thm.gif" WIDTH=180 HEIGHT=57 X-CLARIS-USEIMAGEWIDTH X-CLARIS-USEIMAGEHEIGHT ALIGN=bottom></P>
      </TD>
   </TR>
</TABLE>
</P>
</BODY>
</HTML>