<HTML>
<HEAD>
   <BASE TARGET=main>
   <TITLE>Geometridae Family Page</TITLE>
   <X-CLARIS-WINDOW TOP=32 BOTTOM=591 LEFT=4 RIGHT=951>
   <X-CLARIS-REMOTESAVE SERVER="mesa7.mesa.colorado.edu" USER=ggentry DIR="/home2/faculty/g/ggentry/public_html/lsacat/families/" FILE="">
   <X-CLARIS-TAGVIEW MODE=minimal>
</HEAD>
<BODY BGCOLOR="#FFFFFF" LINK="#666666" VLINK="#CCCC99">
<H2><FONT FACE="Arial">Family: Geometridae</FONT></H2>

<P><TABLE BORDER=0 CELLPADDING=0 WIDTH=922>
   <TR BGCOLOR="#CCCC99">
      <TD COLSPAN=2 WIDTH=772 HEIGHT=51 BGCOLOR="#CCCC99">
         <H5><FONT FACE="Arial"><B>Species Name (or common name if
         species has not yet been determined by
         taxonomist)</B></FONT></H5>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=623 HEIGHT=41>
         <P><A HREF="http://www.tulane.edu/~ggentry/LAleps05/species/Geometridae/digrammia_ocellinata/digrammia_ocellinata.htm"><FONT FACE="Arial, Helvetica, sans-serif"><I>Digrammia
         ocellinata</I></FONT></A></P>
      </TD>
      <TD WIDTH=149 HEIGHT=41>
         <P><IMG SRC="../species/Geometridae/digrammia_ocellinata/docel_1_thm.gif" WIDTH=180 HEIGHT=47 X-CLARIS-USEIMAGEWIDTH X-CLARIS-USEIMAGEHEIGHT ALIGN=bottom></P>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=623 HEIGHT=41>
         <P><A HREF="http://www.tulane.edu/~ggentry/LAleps05/species/Geometridae/ennomos_subsignaria/ennomos_subsignaria3389.htm"><FONT FACE="Arial, Helvetica, sans-serif"><I>Ennomos
         subsignaria</I></FONT></A></P>
      </TD>
      <TD WIDTH=149 HEIGHT=41>
         <P><IMG SRC="../species/Geometridae/ennomos_subsignaria/la3389_1_thm.gif" WIDTH=180 HEIGHT=109 X-CLARIS-USEIMAGEWIDTH X-CLARIS-USEIMAGEHEIGHT ALIGN=bottom></P>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=623 HEIGHT=41>
         <P><A HREF="http://www.tulane.edu/~ggentry/LAleps05/species/Geometridae/eutrapela_clemataria/eutrapela_clemataria3066.htm"><FONT FACE="Arial, Helvetica, sans-serif"><I>Eutrapela
         clemataria</I></FONT></A></P>
      </TD>
      <TD WIDTH=149 HEIGHT=41>
         <P><IMG SRC="../species/Geometridae/eutrapela_clemataria/la3066_1_thm.gif" WIDTH=180 HEIGHT=38 X-CLARIS-USEIMAGEWIDTH X-CLARIS-USEIMAGEHEIGHT ALIGN=bottom></P>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=623 HEIGHT=41>
         <P><A HREF="http://www.tulane.edu/~ggentry/LAleps05/species/Geometridae/iridopsis_larvaria/iridopsis_larvaria2817.htm"><FONT FACE="Arial, Helvetica, sans-serif"><I>Iridopsis
         larvaria</I></FONT></A></P>
      </TD>
      <TD WIDTH=149 HEIGHT=41>
         <P><IMG SRC="../species/Geometridae/iridopsis_larvaria/la2817_1_thm.gif" WIDTH=180 HEIGHT=46 X-CLARIS-USEIMAGEWIDTH X-CLARIS-USEIMAGEHEIGHT ALIGN=bottom></P>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=623 HEIGHT=41>
         <P><A HREF="http://www.tulane.edu/~ggentry/LAleps05/species/Geometridae/itame_pustularia/itame_pustularia.htm"><FONT FACE="Arial, Helvetica, sans-serif"><I>Itame
         pustularia</I></FONT></A></P>
      </TD>
      <TD WIDTH=149 HEIGHT=41>
         <P><IMG SRC="../species/Geometridae/itame_pustularia/ipust_1_thm.gif" WIDTH=180 HEIGHT=59 X-CLARIS-USEIMAGEWIDTH X-CLARIS-USEIMAGEHEIGHT ALIGN=bottom></P>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=623 HEIGHT=41>
         <P><A HREF="http://www.tulane.edu/~ggentry/LAleps05/species/Geometridae/itame_sulphurea/itame_sulphurea3753.htm"><FONT FACE="Arial, Helvetica, sans-serif"><I>Itame
         sulphurea</I></FONT></A></P>
      </TD>
      <TD WIDTH=149 HEIGHT=41>
         <P><IMG SRC="../species/Geometridae/itame_sulphurea/la3753_1_thm.gif" WIDTH=180 HEIGHT=55 X-CLARIS-USEIMAGEWIDTH X-CLARIS-USEIMAGEHEIGHT ALIGN=bottom></P>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=623 HEIGHT=41>
         <P><A HREF="http://www.tulane.edu/~ggentry/LAleps05/species/Geometridae/rheumaptera_prunivorata/rheumaptera_prunivorata.htm"><FONT FACE="Arial, Helvetica, sans-serif"><I>Rheumaptera
         prunivorata</I></FONT></A></P>
      </TD>
      <TD WIDTH=149 HEIGHT=41>
         <P><IMG SRC="../species/Geometridae/rheumaptera_prunivorata/rprun_1_thm.gif" WIDTH=180 HEIGHT=68 X-CLARIS-USEIMAGEWIDTH X-CLARIS-USEIMAGEHEIGHT ALIGN=bottom></P>
      </TD>
   </TR>
</TABLE>
</P>
</BODY>
</HTML><HTML>
<HEAD>
   <BASE TARGET=main>
   <TITLE>Geometridae Family Page</TITLE>
   <X-CLARIS-WINDOW TOP=32 BOTTOM=591 LEFT=4 RIGHT=951>
   <X-CLARIS-REMOTESAVE SERVER="mesa7.mesa.colorado.edu" USER=ggentry DIR="/home2/faculty/g/ggentry/public_html/lsacat/families/" FILE="">
   <X-CLARIS-TAGVIEW MODE=minimal>
</HEAD>
<BODY BGCOLOR="#FFFFFF" LINK="#666666" VLINK="#CCCC99">
<H2><FONT FACE="Arial">Family: Geometridae</FONT></H2>

<P><TABLE BORDER=0 CELLPADDING=0 WIDTH=922>
   <TR BGCOLOR="#CCCC99">
      <TD COLSPAN=2 WIDTH=772 HEIGHT=51 BGCOLOR="#CCCC99">
         <H5><FONT FACE="Arial"><B>Species Name (or common name if
         species has not yet been determined by
         taxonomist)</B></FONT></H5>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=623 HEIGHT=41>
         <P><A HREF="http://www.tulane.edu/~ggentry/LAleps05/species/Geometridae/digrammia_ocellinata/digrammia_ocellinata.htm"><FONT FACE="Arial, Helvetica, sans-serif"><I>Digrammia
         ocellinata</I></FONT></A></P>
      </TD>
      <TD WIDTH=149 HEIGHT=41>
         <P><IMG SRC="../species/Geometridae/digrammia_ocellinata/docel_1_thm.gif" WIDTH=180 HEIGHT=47 X-CLARIS-USEIMAGEWIDTH X-CLARIS-USEIMAGEHEIGHT ALIGN=bottom></P>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=623 HEIGHT=41>
         <P><A HREF="http://www.tulane.edu/~ggentry/LAleps05/species/Geometridae/ennomos_subsignaria/ennomos_subsignaria3389.htm"><FONT FACE="Arial, Helvetica, sans-serif"><I>Ennomos
         subsignaria</I></FONT></A></P>
      </TD>
      <TD WIDTH=149 HEIGHT=41>
         <P><IMG SRC="../species/Geometridae/ennomos_subsignaria/la3389_1_thm.gif" WIDTH=180 HEIGHT=109 X-CLARIS-USEIMAGEWIDTH X-CLARIS-USEIMAGEHEIGHT ALIGN=bottom></P>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=623 HEIGHT=41>
         <P><A HREF="http://www.tulane.edu/~ggentry/LAleps05/species/Geometridae/eutrapela_clemataria/eutrapela_clemataria3066.htm"><FONT FACE="Arial, Helvetica, sans-serif"><I>Eutrapela
         clemataria</I></FONT></A></P>
      </TD>
      <TD WIDTH=149 HEIGHT=41>
         <P><IMG SRC="../species/Geometridae/eutrapela_clemataria/la3066_1_thm.gif" WIDTH=180 HEIGHT=38 X-CLARIS-USEIMAGEWIDTH X-CLARIS-USEIMAGEHEIGHT ALIGN=bottom></P>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=623 HEIGHT=41>
         <P><A HREF="http://www.tulane.edu/~ggentry/LAleps05/species/Geometridae/iridopsis_larvaria/iridopsis_larvaria2817.htm"><FONT FACE="Arial, Helvetica, sans-serif"><I>Iridopsis
         larvaria</I></FONT></A></P>
      </TD>
      <TD WIDTH=149 HEIGHT=41>
         <P><IMG SRC="../species/Geometridae/iridopsis_larvaria/la2817_1_thm.gif" WIDTH=180 HEIGHT=46 X-CLARIS-USEIMAGEWIDTH X-CLARIS-USEIMAGEHEIGHT ALIGN=bottom></P>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=623 HEIGHT=41>
         <P><A HREF="http://www.tulane.edu/~ggentry/LAleps05/species/Geometridae/itame_pustularia/itame_pustularia.htm"><FONT FACE="Arial, Helvetica, sans-serif"><I>Itame
         pustularia</I></FONT></A></P>
      </TD>
      <TD WIDTH=149 HEIGHT=41>
         <P><IMG SRC="../species/Geometridae/itame_pustularia/ipust_1_thm.gif" WIDTH=180 HEIGHT=59 X-CLARIS-USEIMAGEWIDTH X-CLARIS-USEIMAGEHEIGHT ALIGN=bottom></P>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=623 HEIGHT=41>
         <P><A HREF="http://www.tulane.edu/~ggentry/LAleps05/species/Geometridae/itame_sulphurea/itame_sulphurea3753.htm"><FONT FACE="Arial, Helvetica, sans-serif"><I>Itame
         sulphurea</I></FONT></A></P>
      </TD>
      <TD WIDTH=149 HEIGHT=41>
         <P><IMG SRC="../species/Geometridae/itame_sulphurea/la3753_1_thm.gif" WIDTH=180 HEIGHT=55 X-CLARIS-USEIMAGEWIDTH X-CLARIS-USEIMAGEHEIGHT ALIGN=bottom></P>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=623 HEIGHT=41>
         <P><A HREF="http://www.tulane.edu/~ggentry/LAleps05/species/Geometridae/rheumaptera_prunivorata/rheumaptera_prunivorata.htm"><FONT FACE="Arial, Helvetica, sans-serif"><I>Rheumaptera
         prunivorata</I></FONT></A></P>
      </TD>
      <TD WIDTH=149 HEIGHT=41>
         <P><IMG SRC="../species/Geometridae/rheumaptera_prunivorata/rprun_1_thm.gif" WIDTH=180 HEIGHT=68 X-CLARIS-USEIMAGEWIDTH X-CLARIS-USEIMAGEHEIGHT ALIGN=bottom></P>
      </TD>
   </TR>
</TABLE>
</P>
</BODY>
</HTML>