<div class="backpurple">
<h2 class="center red" style="padding-bottom: 3%">Family: Noctuidae</h2>

<div class="text khaki center">
    <h4>Species Name (or common name if species has not yet been determined by taxonomist)</h4>
</div>
<div class="container">
    <div class="row">
        <div class="list-group col-xs-12 col-sm-4 col-md-4 col-lg-3" id="thin" ng-repeat = "noc in laNocFamilies | orderBy : 'genus'">
            <div class="panel panel-primary" id="thin">
                <div class="panel-heading center">
                    <a href="{{ noc.link }}" class="noc"><i>{{ noc.genus }} {{ noc.species }}</i></a>
                </div>
                <div class="row">
                    <div class="panel-body">
                        <img src="views/images/la/noc/{{ noc.pic }}" alt="" id="catpic">
                        <!--<p><i>brief desciption</i></p>-->
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>
 
    </div>     <!--<P><A HREF="http://www.tulane.edu/~ggentry/LAleps05/species/Noctuidae/acronicta_impleta/acronicta_impleta2831.htm"><FONT FACE="Arial, Helvetica, sans-serif"><I>Acronicta
         impleta</I></FONT></A></P>
      </TD>
      <TD WIDTH=184 HEIGHT=41>
         <P><IMG SRC="../species/Noctuidae/acronicta_impleta/la2831_1_thm.gif" WIDTH=180 HEIGHT=82 X-CLARIS-USEIMAGEWIDTH X-CLARIS-USEIMAGEHEIGHT ALIGN=bottom></P>
      </TD>
      <TD WIDTH=287 HEIGHT=41>
         <P><A HREF="http://www.tulane.edu/~ggentry/LAleps05/species/Noctuidae/Grass%20spod/GrassSpod.htm"><FONT FACE="Arial, Helvetica, sans-serif"><I>Ochropleura</I>
         sp.</FONT></A></P>
      </TD>
      <TD WIDTH=179 HEIGHT=41>
         <P><IMG SRC="../species/Noctuidae/Grass%20spod/GrTanGrassSD_thm.gif" WIDTH=180 HEIGHT=60 X-CLARIS-USEIMAGEWIDTH X-CLARIS-USEIMAGEHEIGHT ALIGN=bottom></P>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=158 HEIGHT=41>
         <P><A HREF="http://www.tulane.edu/~ggentry/LAleps05/species/Noctuidae/acronicta_rubricoma/acronicta_rubricoma.htm"><FONT FACE="Arial, Helvetica, sans-serif"><I>Acronicta
         rubricoma</I></FONT></A></P>
      </TD>
      <TD WIDTH=184 HEIGHT=41>
         <P><IMG SRC="../species/Noctuidae/acronicta_rubricoma/AcronictaFAM.gif" WIDTH=180 HEIGHT=71 X-CLARIS-USEIMAGEWIDTH X-CLARIS-USEIMAGEHEIGHT ALIGN=bottom></P>
      </TD>
      <TD WIDTH=287 HEIGHT=41>
         <P></P>
      </TD>
      <TD WIDTH=179 HEIGHT=41>
         <P></P>
      </TD>
   </TR>
   <TR>-->
      <!--<TD WIDTH=158 HEIGHT=41>
         <P><A HREF="http://www.tulane.edu/~ggentry/LAleps05/species/Noctuidae/egira_alternans/egira_alternans3065.htm"><FONT FACE="Arial, Helvetica, sans-serif"><I>Egira
         alternans</I></FONT></A></P>
      </TD>
      <TD WIDTH=184 HEIGHT=41>
         <P><IMG SRC="../species/Noctuidae/egira_alternans/la3065_1_thm.gif" WIDTH=180 HEIGHT=84 X-CLARIS-USEIMAGEWIDTH X-CLARIS-USEIMAGEHEIGHT ALIGN=bottom></P>
      </TD>
      <TD WIDTH=287 HEIGHT=41>
         <P><A HREF="http://www.tulane.edu/~ggentry/LAleps05/species/Noctuidae/Og%20cinereola/noc002.htm"><FONT FACE="Arial, Helvetica, sans-serif"><I>Ogdoconta
         cinereola</I></FONT></A></P>
      </TD>
      <TD WIDTH=179 HEIGHT=41>
         <P><IMG SRC="../species/Noctuidae/Og%20cinereola/Ocinerola1810d_thm.gif" WIDTH=180 HEIGHT=75 X-CLARIS-USEIMAGEWIDTH X-CLARIS-USEIMAGEHEIGHT ALIGN=bottom></P>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=158 HEIGHT=41>
         <P><A HREF="http://www.tulane.edu/~ggentry/LAleps05/species/Noctuidae/Stripy/Stripy.htm"><FONT FACE="Arial, Helvetica, sans-serif"><I>Eudryas
         grata</I></FONT></A></P>
      </TD>
      <TD WIDTH=184 HEIGHT=41>
         <P><IMG SRC="../species/Noctuidae/Stripy/StripyEcPants_thm.gif" WIDTH=180 HEIGHT=68 X-CLARIS-USEIMAGEWIDTH X-CLARIS-USEIMAGEHEIGHT ALIGN=bottom></P>
      </TD>
      <TD WIDTH=287 HEIGHT=41>
         <P><A HREF="http://www.tulane.edu/~ggentry/LAleps05/species/Noctuidae/or-hibisci/orthosia-hibisci.htm"><FONT FACE="Arial, Helvetica, sans-serif"><I>Orthosia
         hibisci</I></FONT></A></P>
      </TD>
      <TD WIDTH=179 HEIGHT=41>
         <P><IMG SRC="../species/Noctuidae/or-hibisci/LA3077thm.gif" WIDTH=180 HEIGHT=67 X-CLARIS-USEIMAGEWIDTH X-CLARIS-USEIMAGEHEIGHT ALIGN=bottom></P>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=158 HEIGHT=41>
         <P><A HREF="views/images/NOC001th.gi"><FONT FACE="Arial, Helvetica, sans-serif"><I>Harrisimena</I>
         sp.</FONT></A></P>
      </TD>
      <TD WIDTH=184 HEIGHT=41>
         <P><IMG SRC="views/images/NOC001th.gif" WIDTH=180 HEIGHT=128 X-CLARIS-USEIMAGEWIDTH X-CLARIS-USEIMAGEHEIGHT ALIGN=bottom></P>
      </TD>
      <TD WIDTH=287 HEIGHT=41>
         <P><A HREF="http://www.tulane.edu/~ggentry/LAleps05/species/Noctuidae/orthosiatype_3065/orthosiatype_sp3065.htm"><FONT FACE="Arial, Helvetica, sans-serif">Orthosia<I>
         </I>type</FONT></A></P>
      </TD>
      <TD WIDTH=179 HEIGHT=41>
         <P><IMG SRC="../species/Noctuidae/orthosiatype_3065/la3065_2_thm.gif" WIDTH=180 HEIGHT=203 X-CLARIS-USEIMAGEWIDTH X-CLARIS-USEIMAGEHEIGHT ALIGN=bottom></P>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=158 HEIGHT=41>
         <P><A HREF="http://www.tulane.edu/~ggentry/LAleps05/species/Noctuidae/TomFruitworm/TomFrwrm.htm"><FONT FACE="Arial, Helvetica, sans-serif"><I>Heliothis
         subflexa</I></FONT></A></P>
      </TD>
      <TD WIDTH=184 HEIGHT=41>
         <P><IMG SRC="../species/Noctuidae/TomFruitworm/HsubflexaSD_thm.gif" WIDTH=180 HEIGHT=100 X-CLARIS-USEIMAGEWIDTH X-CLARIS-USEIMAGEHEIGHT ALIGN=bottom></P>
      </TD>
      <TD WIDTH=287 HEIGHT=41>
         <P><A HREF="http://www.tulane.edu/~ggentry/LAleps05/species/Noctuidae/phosphila_miselioides/phosphila_miselioides3751.htm"><FONT FACE="Arial, Helvetica, sans-serif"><I>Phosphila
         miselioides</I></FONT></A></P>-->
      <!--</TD>
      <TD WIDTH=179 HEIGHT=41>
         <P><IMG SRC="../species/Noctuidae/phosphila_miselioides/la3751_1_thm.gif" WIDTH=180 HEIGHT=102 X-CLARIS-USEIMAGEWIDTH X-CLARIS-USEIMAGEHEIGHT ALIGN=bottom></P>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=158 HEIGHT=41>
         <P><A HREF="http://www.tulane.edu/~ggentry/LAleps05/species/Noctuidae/himella_intractata/himella_intractata3699.htm"><FONT FACE="Arial, Helvetica, sans-serif"><I>Himella
         intractata</I></FONT></A></P>
      </TD>
      <TD WIDTH=184 HEIGHT=41>
         <P><IMG SRC="../species/Noctuidae/himella_intractata/la3699_1_thm.gif" WIDTH=180 HEIGHT=53 X-CLARIS-USEIMAGEWIDTH X-CLARIS-USEIMAGEHEIGHT ALIGN=bottom></P>
      </TD>
      <TD WIDTH=287 HEIGHT=41>
         <P><A HREF="http://www.tulane.edu/~ggentry/LAleps05/species/Noctuidae/Pcompressipalpis/Pcompressipalpis.htm"><FONT FACE="Arial, Helvetica, sans-serif"><I>Plusiodonta
         compressipalpis</I></FONT></A></P>
      </TD>
      <TD WIDTH=179 HEIGHT=41>
         <P><IMG SRC="../species/Noctuidae/Pcompressipalpis/Pcomp1905_thm.gif" WIDTH=180 HEIGHT=117 X-CLARIS-USEIMAGEWIDTH X-CLARIS-USEIMAGEHEIGHT ALIGN=bottom></P>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=158 HEIGHT=41>
         <P><A HREF="http://www.tulane.edu/~ggentry/LAleps05/species/Noctuidae/Mocis/Mlatipes.htm"><FONT FACE="Arial, Helvetica, sans-serif"><I>Mocis
         latipes</I></FONT></A></P>
      </TD>
      <TD WIDTH=184 HEIGHT=41>
         <P><IMG SRC="../species/Noctuidae/Mocis/MlatSIDE_thm.gif" WIDTH=180 HEIGHT=109 X-CLARIS-USEIMAGEWIDTH X-CLARIS-USEIMAGEHEIGHT ALIGN=bottom></P>
      </TD>
      <TD WIDTH=287 HEIGHT=41>
         <P><A HREF="http://www.tulane.edu/~ggentry/LAleps05/species/Noctuidae/Spodoptera1/Spod1.htm"><FONT FACE="Arial, Helvetica, sans-serif">Spodoptera
         type </FONT> </A></P>
      </TD>
      <TD WIDTH=179 HEIGHT=41>
         <P><IMG SRC="../species/Noctuidae/Spodoptera1/SpodSD_thm.gif" WIDTH=180 HEIGHT=68 X-CLARIS-USEIMAGEWIDTH X-CLARIS-USEIMAGEHEIGHT ALIGN=bottom></P>
      </TD>
   </TR>
</div>-->
