<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-xs-12 col-med-4">
            <figure>
                <img src="views/images/hemero.gif">
                <figcaption>Scary Snakey Caterpillar Butt</figcaption>
            </figure>
        </div>
        <div class="col-sm-8 col-xs-12 col-med-8 purple">
            <h1>Caterpillars & Parasitoids</h1>
            <h2><b>of a Costa Rican Tropical Wet Forest</b></h2>
        </div> 
    </div>
</div>
  
<div class="container bottom">
    <h5>Data from this page should be cited as follows:</h5>
    <p class="red"><b>Dyer, L.A. and G.L. Gentry. 2002. Caterpillars and parasitoids of a tropical lowland wet forest.
    http://www.caterpillars.org. Accessed: (date accessed).</b></p>
    <p><b>Updates to this page are made daily</b></p>

    <p><b>Caterpillars and Parasitoids of a Costa Rican Tropical Wet Forest</b> 
    is an ongoing project dedicated to the inventory and dissemination of information on lepidopteran
    larvae, their host plants, and their parasitoids. Live caterpillar specimens are collected and reared at La Selva Biological Station.
    The host plant, pupation and emergence dates, size and weight are recorded, along with information about associated
    parasitiods.</p>

    <h6><b>Project goals:</b></h6>

    <ul>
        <li>Collect new species of Lepidoptera, and associated parasitoid Hymenoptera, Diptera, and Nemata.</li>
        <li>Record and archive baseline natural history information such as host plant-herbivore-parasitoid relationships, development rates, and
        other life cycle information.</li>
        <li>Disseminate this information with a state of the art, searchable database accessible to scientists
        all over the world.</li>
        <li>Provide the foundations for a key to the caterpillars of La Selva.</li>
    </ul>
</div>
<div class="center black">
    <h2><b>Families of Caterpillars</b></h2>
</div>
<div class="container-fluid three">
    <p><a href="../lsacat/families/oec.htm" class="green">Oecophoridae</a></p>
    <p><a href="../lsacat/families/nym.htm" class="green">Nymphalidae</a></p>
    <p><a href="../lsacat/families/oxy.htm" class="green">Oxytenidae</a></p>
    <p><a href="../lsacat/families/cho.htm" class="green">Choreutidae</a></p>
    <p><a href="../lsacat/families/meg.htm" class="green">Megalopygidae</a></p>
    <p><a href="../lsacat/families/sat.htm" class="green">Saturniidae</a></p>
    <p><a href="../lsacat/families/tor.htm" class="green">Tortricidae</a></p>
    <p><a href="/cr/lim" class="green">Limacodidae</a></p>
    <p><a href="../lsacat/families/ura.htm" class="green">Uraniidae</a></p>
    <p><a href="../lsacat/families/hes.htm" class="green">Hesperiidae</a></p>
    <p><a href="../lsacat/families/pyr.htm" class="green">Pyralidae</a></p>
    <p><a href="../lsacat/families/sph.htm" class="green">Sphingidae</a></p>
    <p><a href="../lsacat/families/pap.htm" class="green">Papilionidae</a></p>
    <p><a href="../lsacat/families/thy.htm" class="green">Thyrididae</a></p>
    <p><a href="../lsacat/families/not.htm" class="green">Notodontidae</a></p>
    <p><a href="../lsacat/families/pie.htm" class="green">Pieridae</a></p>
    <p><a href="../lsacat/families/geo.htm" class="green">Geometridae</a></p>
    <p><a href="../lsacat/families/arc.htm" class="green">Arctiidae</a></p>
    <p><a href="../lsacat/families/lyc.htm" class="green">Lycaenidae</a></p>
    <p><a href="../lsacat/families/apt.htm" class="green">Apatelodidae</a></p>
    <p><a href="../lsacat/families/lym.htm" class="green">Lymantriidae</a></p>
    <p><a href="../lsacat/families/rio.htm" class="green">Riodinidae</a></p>
    <p><a href="../lsacat/families/bom.htm" class="green">Bombycidae</a></p>
    <p><a href="../lsacat/families/noc.htm" class="green">Noctuidae</a></p>
    <p><a href="../lsacat/families/las.htm" class="green">Lasiocampidae</a></p>
    <p><a href="../lsacat/families/coleop.htm" class="green">Coleoptera</a></p>
</div>

<div>
    <table width="90%" class="crFooter">
        <tr>
            <td><a href="../lsacat/summary.htm" class="black"><b>Project Summary</b></a></td>
            <td><a href="file:///D:/catweb/lsacat/Families.htm" class="black"><b>Frames Version</b></a></td>
            <td><a href="../lsacat/catkey/catkey.htm" class="black"><b>Key to Families</b></a></td> 
            <td><a href="http://caterpillars.unr.edu/lsacat/species/species.pdf" class="black"><b>List of All Species</b></a></td>
            <td><a href="../lsacat/ack.html" class="black"><b>Acknowledgements</b></a></td> 
        </tr>
    </table>
</div>
