<HTML>
<HEAD>
   <TITLE>LALackn</TITLE>
   <X-CLARIS-WINDOW TOP=0 BOTTOM=589 LEFT=0 RIGHT=1012>
   <X-CLARIS-TAGVIEW MODE=minimal>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"><link href="LAsat001More.htm">
</HEAD>
<BODY BGCOLOR="#000000">
<P><TABLE BORDER=1 BGCOLOR="#99FFFF" WIDTH="98%" HEIGHT=41 bordercolorlight="#99FFFF" bordercolordark="#99FFFF" bordercolor="#99FFFF">
   <TR BGCOLOR="#99FF99">
      <TD COLSPAN=2 bordercolor="#99FFFF" HEIGHT=81 BGCOLOR="#99FFFF">
         <H2><CENTER>Explanation, Caveats, Acknowlegements, and
         References</CENTER></H2>
         
         <H3><CENTER>ALL images on this site are copyrighted (see
         below).</CENTER></H3>
      </TD>
   </TR>
</TABLE>
 <TABLE BORDER=1 BGCOLOR="#003300" WIDTH="98%" HEIGHT=1866 bordercolor="#003300">
   <TR BGCOLOR="#003300">
      <TD WIDTH="81%" HEIGHT=1857>
         <P><TABLE BORDER=1 BGCOLOR="#003300" WIDTH="100%" HEIGHT=1634 bordercolorlight="#003300" bordercolordark="#003300" bordercolor="#003300">
            <TR BGCOLOR="#003300">
               <TD WIDTH="1%" HEIGHT=175>
                  <P>&nbsp;</P>
               </TD>
               <TD COLSPAN=2 HEIGHT=175>
                  <H4><FONT COLOR="#FFFFFF">This site is intended for
                  persons interested in caterpillars and the moths or
                  butterflies they turn into. With this in mind we
                  have attempted to add features that will be of use
                  to caterpillar fans of all sorts.</FONT></H4>
                  
                  <H4><FONT FACE="Times New Roman, Times, serif" COLOR="#FFFFFF">The
                  KEY to identifying particular caterpillars was
                  developd by Lee Dyer with suggestions for
                  improvement added by Grant Gentry. It is based on
                  larval keys developed by Stehr. </FONT></H4>
               </TD>
            </TR>
            <TR BGCOLOR="#003300">
               <TD WIDTH="1%" HEIGHT=484>
                  <P>&nbsp;</P>
               </TD>
               <TD COLSPAN=2 HEIGHT=484>
                  <P><FONT SIZE="+1" COLOR="#FFFFFF">Caveats</FONT><FONT COLOR="#FFFFFF">:
                  I am responsible for this sites content, ie.
                  taxonomy, typos, etc. If you percieve an error on
                  the page please inform me at ggentry@tulane.edu.
                  </FONT></P>
                  
                  <P><FONT COLOR="#FFFFFF">This site is not
                  comprehensive! It will get larger as time goes on.
                  If you don't find what you are looking for here see
                  the links provided or contact an extension agent,
                  entomologist, or local butterfly and moth oriented
                  organization.</FONT></P>
                  
                  <P><FONT COLOR="#FFFFFF">The authors of the page
                  have no official position on whether or not to
                  collect and rear caterpillars. If you do collect
                  them, don't be a pig please. Also, many persons
                  (including several of the authors of this page)
                  consider rearing caterpillars to be a
                  responsibility, like having a pet. If you rear,
                  please be sure to feed your caterpillar pets. If
                  you don't have the time, or forget to feed them,
                  please let them go.</FONT></P>
                  
                  <P><FONT COLOR="#FFFFFF">We do not reccommend that
                  you rear stinging caterpillars. If you decide to
                  rear stinging caterpillars be very careful because
                  some persons have bad reactions to caterpillar
                  stings or the hairs released when caterpillars
                  pupate. There are lots of caterpillars out there to
                  rear that don't sting. </FONT></P>
                  
                  <P><FONT COLOR="#FFFFFF">We are very pro-butterfly
                  gardens. The more spaces that grow caterpillar
                  friendly (usually native) plants in the landscape,
                  the more butterflies we get to have around our
                  cities and towns in Louisiana. If you want to try
                  your hand at growing a butterfly garden, see the
                  associated links and list of groups.</FONT></P>
                  
                  <P>&nbsp;</P>
                  
                  <H3><FONT COLOR="#FFFFFF">Contacts:</FONT></H3>
                  
                  <P><FONT SIZE="+1" COLOR="#FFFFFF">Grant Gentry-
                  ggentry@tulane.edu,</FONT> </P>
                  
                  <P><FONT SIZE="+1" COLOR="#FFFFFF">Lee Dyer-
                  ldyer@tulane.edu</FONT></P>
               </TD>
            </TR>
            <TR>
               <TD COLSPAN=3 HEIGHT=11>
                  <BLOCKQUOTE><DL>
                        <DT></DT>
                     </DL>
                  </BLOCKQUOTE>
               </TD>
            </TR>
            <TR>
               <TD WIDTH="1%" HEIGHT=1083>
                  <P>&nbsp;</P>
               </TD>
               <TD COLSPAN=2 HEIGHT=1083>
                  <H3><FONT SIZE="+1" COLOR="#FFFFFF">Acknowledgements:</FONT><FONT COLOR="#FFFFFF">
                  </FONT></H3>
                  
                  <P><FONT SIZE="-1" FACE="Arial, Helvetica, sans-serif" COLOR="#FFFFFF"><B>Natural
                  History</B>: Frances Weldon, Grant Gentry, John O.
                  Stireman, </FONT></P>
                  
                  <P><FONT SIZE="-1" FACE="Arial, Helvetica, sans-serif" COLOR="#FFFFFF"><B>Collection,
                  Rearing</B>: Grant Gentry, Malia Fincher, Mark
                  Tobler, John O. Stireman, Clark Pearson, Angela
                  Smilanich, Michael Olson, Brittany Bernik, Lee
                  Dyer</FONT></P>
                  
                  <P><FONT SIZE="-1" FACE="Arial, Helvetica, sans-serif" COLOR="#FFFFFF"><B>Taxonomy</B>:
                  David Wagner, John Stireman, Grant Gentry, Lee
                  Dyer</FONT></P>
                  
                  <P><FONT SIZE="-1" FACE="Arial, Helvetica, sans-serif" COLOR="#FFFFFF"><B>Photos</B>:
                  Grant Gentry, Malia Fincher, Lee Dyer (Please
                  contact Grant Gentry or Lee Dyer for permission to
                  use images for any purpose OTHER than teaching.
                  Please mention the site if your students like the
                  pictures.)</FONT></P>
                  
                  <P><FONT SIZE="-1" FACE="Arial, Helvetica, sans-serif" COLOR="#FFFFFF"><B>Key</B>:
                  Lee Dyer, Grant Gentry</FONT></P>
                  
                  <P><FONT SIZE="-1" FACE="Arial, Helvetica, sans-serif" COLOR="#FFFFFF"><B>Site
                  Design</B>: Grant Gentry with much valuable input
                  from Malia Fincher, Lee Dyer</FONT></P>
                  
                  <P><FONT SIZE="-1" FACE="Arial, Helvetica, sans-serif" COLOR="#FFFFFF"><B>Page
                  Design</B>: Brittany Bernik, and as noted on
                  page.</FONT></P>
                  
                  <P><FONT SIZE="-1" FACE="Arial, Helvetica, sans-serif" COLOR="#FFFFFF"><B>Database
                  Management</B>: Jessica Vargas</FONT></P>
                  
                  <P>&nbsp;</P>
                  
                  <H3><FONT SIZE="+1" COLOR="#FFFFFF">References:</FONT></H3>
                  
                  <H3><FONT COLOR="#FFFFFF">Scientific and Common
                  Names of Host Plants are from: </FONT></H3>
                  
                  <P><FONT COLOR="#FFFFFF">Vines, Robert A. 1960.
                  Trees, Shrubs, and Woody Vines of the Southwest.
                  University of Texas Press, Austin. </FONT></P>
                  
                  <H3>&nbsp;</H3>
                  
                  <H3><FONT COLOR="#FFFFFF">Initial Identifications
                  of Butterfly and Moth caterpillars and adults were
                  made using:</FONT></H3>
                  
                  <P><FONT COLOR="#FFFFFF">Brock, Jim P. and Kenn
                  Kaufman 2003. Butterflies of North America.
                  Houghton Mifflin, Singapore.</FONT></P>
                  
                  <P><FONT COLOR="#FFFFFF">Covell Jr., Charles V.
                  1984. Eastern Moths; Petersons Field Guides.
                  Houghton Mifflin Company, Boston. </FONT></P>
                  
                  <P><FONT COLOR="#FFFFFF">Howe, William H. 1975. The
                  Butterflies of North America. Doubleday and
                  Company, New York</FONT></P>
                  
                  <P><FONT COLOR="#FFFFFF">Opler, Paul A., Harry
                  Pavulaan, and Ray E. Stanford (coordinators). 1995.
                  Butterflies of North America. Jamestown, ND:
                  Northern Prairie Wildlife Research Center Home
                  Page.
                  http://www.npwrc.usgs.gov/resource/distr/lepid/bflyusa/bflyusa.htm
                  (Version 12DEC2003).</FONT></P>
                  
                  <P><FONT COLOR="#FFFFFF">Stehr,</FONT></P>
                  
                  <P><FONT COLOR="#FFFFFF">Wagner, David L., Valerie
                  Giles, Richard C. Reardon, and Michael L. McManus.
                  1997. Caterpillars of Eastern Forests. U.S.
                  Department of Agriculture, Forest Service, Forest
                  Health Technology Enterprise Team, Morgantown, West
                  Virginia. FHTET-96-34. 113 pp. Jamestown, ND:
                  Northern Prairie Wildlife Research Center Online.
                  http://www.npwrc.usgs.gov/resource/insects/cateast/cateast.htm
                  (Version 11APR2001). (Website)</FONT></P>
                  
                  <P><FONT COLOR="#FFFFFF">Wagner, David L., Giles,
                  Valerie, Reardon, Richard C., and Michael L.McManus
                  1997. Caterpillars of Eastern Forests; Forest
                  Health Technology Enterprise Team. United States
                  Department of Agriculture FHTET-96-34.</FONT></P>
                  
                  <P><FONT COLOR="#FFFFFF">Wagner, David L.,
                  Ferguson, Douglas C., McCabe, Timothy L., and
                  Richard C. Reardon 2001. Geometrid Caterpillars
                  ofNortheastern andAppalachian Forests; Forest
                  Health Technology Enterprise Team. United States
                  Department of Agriculture FHTET-2001-10.
                  </FONT></P>
                  
                  <P><FONT COLOR="#FFFFFF">and were subsequently
                  checked with the appropriate taxonomists, websites,
                  or collections. </FONT></P>
                  
                  <P>&nbsp;</P>
                  
                  <H3><FONT COLOR="#FFFFFF">Parasitoid
                  Identifications were initially made
                  using</FONT></H3>
                  
                  <P><FONT COLOR="#FFFFFF">Shewell, G.E. 1987.
                  Chapter 108. Sarcophagidae. pp. 1159-1191 in
                  McAlpine, J.F., et al. (Eds.), Manual of Nearctic
                  Diptera. Volume 2. Agriculture Canada Monograph 28:
                  i-vi, 675-1332. </FONT></P>
                  
                  <P><FONT COLOR="#FFFFFF">Wharton, Robert A., Marsh,
                  Paul M., and Michael J. Sharkey 1997. Manualof the
                  NewWorld Genera of the Family Braconidae
                  (Hymenoptera); Special Publication of the
                  International Societyof Hymenopterists Number 1.
                  The International Society of Hymenopterists,
                  Washington D.C.</FONT></P>
                  
                  <P><FONT COLOR="#FFFFFF">Wood, D.M. 1987. Chapter
                  110. Tachinidae. pp. 1193-1269 in McAlpine, J.F.,
                  et al. (Eds.), Manual of Nearctic Diptera. Volume
                  2. Agriculture Canada Monograph 28: i-vi, 675-1332.
                  </FONT></P>
                  
                  <P>&nbsp;</P>
                  
                  <P></P>
               </TD>
            </TR>
         </TABLE>
         </P>
      </TD>
      <TD bordercolor="#CCCC99" WIDTH="19%" HEIGHT=1857 BGCOLOR="#CCCC99">
         <H3>Icon Key</H3>
         
         <P>Occurs in the city of New Orleans</P>
         
         <P><IMG SRC="CityIcon.gif" WIDTH=75 HEIGHT=91 ALIGN=bottom></P>
         
         <P>Stings</P>
         
         <P><IMG SRC="stings.gif" WIDTH=86 HEIGHT=95 ALIGN=bottom></P>
         
         <P>Garden Pest</P>
         
         <P>&nbsp;</P>
         
         <P>Butterfly Garden Visitor</P>
      </TD>
   </TR>
</TABLE>
</P>
</BODY>
</HTML>