<div class="center">
    <div class="header"><img src="views/images/catorg6.jpg" id="pageLogo"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-6">
            <div class="links">
                <h3 class="text">Data and Image Links</h3>
                
                <p class="link"><a href="/cr"><img src="views/images/lscat.jpg"></a></p>
                <p class="link"><a href="http://caterpillars.unr.edu/lsacatold/Families.htm"><img src="views/images/lsacat2.jpg"></a></p>
                <p class="link"><a href="http://caterpillars.unr.edu/lsacat/ecuador/index.htm"><img src="views/images/yycat.jpg"></a></p>
                <p class="link"><a href="/la"><img src="views/images/lacat.jpg"></a></p>
                
                <!--<P class=MsoNormal><A HREF="http://caterpillars.unr.edu/meta/index.htm"><IMG SRC="mtd3.jpg" WIDTH=50 HEIGHT=36 X-CLARIS-USEIMAGEWIDTH X-CLARIS-USEIMAGEHEIGHT ALIGN=bottom>fifth</A></P>
                
                <P class=MsoNormal><A HREF="http://caterpillars.unr.edu/ewresult/pastvol.htm"><IMG SRC="ew2.jpg" WIDTH=50 HEIGHT=36 X-CLARIS-USEIMAGEWIDTH X-CLARIS-USEIMAGEHEIGHT ALIGN=bottom>sixth</A></P>
                
                <P class=MsoNormal><A HREF="http://caterpillars.unr.edu/brazil/index.htm"><IMG SRC="lsacat8a.jpg" WIDTH=50 HEIGHT=45 ALIGN=bottom>seventh</A></P>
                
                <P class=MsoNormal><A HREF="http://caterpillars.unr.edu/arizona/index.htm"><IMG SRC="lsacat8b.jpg" WIDTH=50 HEIGHT=39 ALIGN=bottom>eighth</A></P>-->
            </div>
        </div>
 
        <div class="col-sm-4 col-md-6">
            <div class="funding">
                <h4 class="text">Funding sources</h4>
                    
                <ul class="pp">
                    <li>National Geographic</li>
                    <li>Earthwatch Institute</li>
                    <li>CSREES - USDA</li>
                    <li>NIGEC - DOE</li>
                    <li>National Science Foundation</li>
                    <li>Organization for Tropical Studies</li>
                    <li>Private donations</li>
                </ul>
            </div>
        </div>
    </div>
</div>

